.content-section {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(42, 57, 84);
}

.content {
  width: 80%;
  max-width: 1200px;
}

.contact-header {
  margin-bottom: 20px;
  text-align: center;
  color: white; /* Ensures the text is visible against the dark background */
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  margin: 0 10px;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column p {
  margin: 0;
  padding: 10px;
  background-color: rgb(42, 57, 84);
  color: white; /* Ensures the text is visible against the dark background */
  text-align: left; /* Ensures text is aligned to the left */
}

.info p {
  margin: 10px 0;
  padding: 10px;
  background-color: rgb(42, 57, 84);
  color: white; /* Ensures the text is visible against the dark background */
  text-align: left;
}

.info a {
  color: #0073b1; /* LinkedIn blue color */
  text-decoration: none;
}

.info a:hover {
  text-decoration: underline;
}

.info a:visited {
  color: #0073b1; /* Ensures color stays the same after clicking */
}
