.content-section {
  background-color: rgb(42, 57, 84);
  padding: 20px;
  color: white;
}

.content {
  /* max-width: 800px; */
  margin: 0 auto;
  text-align: left;
}

.contact-image-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  overflow: hidden; /* Ensures the overflow of the image is hidden */
  height: 50vh; /* Total height after cropping top and bottom 20% */
}

.contact-image {
  width: 100%; /* Ensure the image fills the container width */
  height: auto;
  object-fit: cover; /* Cover the container area without distorting the image */
}
/* object-position: center -20%; Adjust the position to cut off the top and bottom 20% */

.contact-info {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
}

.contact-info p {
  margin: 10px 0;
}

.contact-info a {
  color: rgba(255, 255, 255, 0.8); /* Slightly lighter link color */
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
