.navbar {
  position: fixed; /* Make the navbar fixed at the top */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10; /* Ensure it's above other content */
  background-color: transparent; /* Start with a transparent background */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.navbar.scrolled {
  background-color: rgba(173, 216, 230, 0.9); /* Light blue background when scrolled */
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px 0;
}

.nav-item {
  margin: 0 15px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(42, 57, 84, 0.5);
}

.nav-item a {
  color: inherit; /* Inherit color from .nav-item */
  text-decoration: none; /* Remove underline */
  display: block; /* Make the entire block clickable */
}

.nav-item a:hover {
  text-decoration: none; /* No underline on hover */
}
