.content-section {
    background-color: rgb(42, 57, 84);
    padding: 20px;
    color: white;
    margin: 0; /* Remove any default margin */
  }
  
  .content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  